<a type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    <i class="fa-solid fa-xmark"></i> Delete
</a>

<!-- Boostrap Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Hotel?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-danger">Are you sure you want to delete this item?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <form class="float-right" method="post" action="{{ path('app_hotel_delete', {'id': hotel.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hotel.id) }}">
                    <button class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i> Delete</button>
                </form>

            </div>
        </div>
    </div>
</div>