<form class="float-right" method="post" action="{{ path('app_hotel_delete', {'id': hotel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hotel.id) }}">
    <button class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i> Delete</button>
</form>
