{{ form_start(form) }}
    <div class="card-body">
        <div class="row">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.street) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(form.postalCode) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.city) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(form.country) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_row(form.phone) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_row(form.email) }}
            </div>
        </div>
    </div>
    <div class="card-footer d-flex gap-1 justify-content-end">
        <a href="{{ path('app_hotel_index') }}" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> back to list</a>
        <button class="btn btn-outline-primary float-right"><i class="fa-solid fa-floppy-disk"></i> {{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
