{% extends 'base.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block body %}
    <div class="card card-primary">
        <div class="card-header">
            <h3>Edit Hotel</h3>
        </div>
    {{ include('hotel/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
