{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
    {{ include('_toast.html.twig') }}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Hotels</h3>
        <a href="{{ path('app_hotel_new') }}" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i> Create new</a>
    </div>
    <div class="card-body p-0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Street</th>
                <th>Postal Code</th>
                <th>City</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.street }}</td>
                <td>{{ hotel.postalCode }}</td>
                <td>{{ hotel.city }}</td>
                <td>{{ hotel.country }}</td>
                <td>
                    <a href="{{ path('app_hotel_show', {'id': hotel.id}) }}"
                       class="btn btn-sm btn-outline-primary"
                       data-bs-toggle="tooltip" data-bs-placement="top"
                       title="Show">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}"
                       class="btn btn-sm btn-outline-primary"
                       data-bs-toggle="tooltip" data-bs-placement="top"
                       title="Edit">
                        <i class="fas fa-pen-to-square"></i>
                    </a>
                    <a href="{{ path('app_room_index', {'hotel': hotel.id}) }}"
                       class="btn btn-sm btn-outline-primary"
                       data-bs-toggle="tooltip" data-bs-placement="top"
                       title="Rooms">
                        <i class="fas fa-house"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
