{% extends 'base.html.twig' %}

{% block title %}New Hotel{% endblock %}

{% block body %}
    <div class="card card-primary">
        <div class="card-header">
            <h3>Create new Hotel</h3>
        </div>
        {{ include('hotel/_form.html.twig') }}
    </div>
{% endblock %}
