{% extends 'base.html.twig' %}

{% block title %}Hotel{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Hotel</h1>
    </div>
    <div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ hotel.name }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ hotel.street }}</td>
            </tr>
            <tr>
                <th>Postal Code</th>
                <td>{{ hotel.postalCode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ hotel.city }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ hotel.country }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ hotel.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ hotel.email }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="card-footer d-flex gap-1 justify-content-end">
        <a href="{{ path('app_hotel_index') }}" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> back to list</a>

        <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}" class="btn btn-outline-primary"><i class="fas fa-pen-to-square"></i> edit</a>

        {{ include('hotel/_delete_modal.html.twig') }}

    </div>
</div>
{% endblock %}
