<!-- Boostrap Modal -->
<div class="modal fade" id="checkInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Guest Check In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(registry_form) }}
                <input type="hidden" id="registry_id" name="registry[id]">
                <input type="hidden" id="registry_room" name="registry[room]">
                {{ form_widget(registry_form) }}
                {{ form_end(registry_form) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="btnCheckInOut" type="button" class="btn btn-primary">
                    <label id="labelCheckInOut" class="check-in-out-button">Check In</label> <i id="iCheckInOut" class="check-in-out-button fas fa-right-to-bracket"></i>
                </button>
            </div>
        </div>
    </div>
</div>