<form method="post" action="{{ path('app_room_delete', {'id': room.id, 'hotel': room.hotel.getId()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i> Delete</button>
</form>
