{{ form_start(form) }}
<div class="card-body">
    {{ form_widget(form) }}
</div>
<div class="card-footer d-flex gap-1 justify-content-end">
    <a href="{{ path('app_room_index', {'hotel': room.hotel.getId()}) }}" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> back to list</a>
    <button class="btn btn-outline-primary float-right"><i class="fa-solid fa-floppy-disk"></i> {{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
