{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    {{ include('room/_check_in_form.html.twig') }}
    {{ include('room/_search_form.html.twig') }}
    {{ include('_toast.html.twig') }}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Hotel {{hotel}}: Rooms</h3>
        <a href="{{ path('app_room_new', {'hotel': hotel.getId()}) }}" class="btn btn-outline-success"><i class="fa-solid fa-plus"></i> Create new</a>
        <a type="button"
           class="btn btn-outline-primary"
           data-bs-toggle="modal"
           data-bs-target="#searchModal">
            <i class=" fas fa-magnifying-glass"></i> Search
        </a>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Max Guests</th>
                <th>Floor</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr id="tr-room-{{ room.id }}" class="{{ room.status.value == 'O' ? 'table-success' : ''}}">
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.maxGuests }}</td>
                <td>{{ room.floor }}</td>
                <td>
                    {% if room.status.value == 'E' %}
                        <i id="room-status-{{ room.id }}" class="fas fa-house"></i>
                    {% else %}
                        <i id="room-status-{{ room.id }}" class="fas fa-house-user"></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_room_show', {'id': room.id, 'hotel': room.hotel.getId()}) }}"
                       class="btn btn-sm btn-outline-primary"
                       data-bs-toggle="tooltip" data-bs-placement="top" title="Show">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{{ path('app_room_edit', {'id': room.id, 'hotel': room.hotel.getId()}) }}"
                       class="btn btn-sm btn-outline-primary"
                       data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <i class="fas fa-pen-to-square"></i>
                    </a>
                    <a id="check-in-out-{{room.id}}"
                       type="button"
                       class="btn btn-sm btn-outline-primary"
                       data-bs-toggle="modal"
                       data-bs-target="#checkInModal"
                       data-bs-room-id="{{ room.id }}"
                       data-bs-room-status="{{ room.status.value }}"
                       data-bs-room-href="{{ path('app_room_status', {'id': room.id, 'hotel': room.hotel.getId()}) }}"
                       data-tooltip="tooltip"
                       title="{{ room.status.value == 'E' ? 'Check In' : 'Check Out' }}"><i class="fa-solid fa-building-circle-check"></i></a>
                    <a href="{{ path('app_registry_index', {'room': room.id}) }}"
                       class="btn btn-sm btn-outline-primary"
                       data-bs-toggle="tooltip" data-bs-placement="top" title="Registry">
                        <i class="fas fa-list"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
