{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <div class="card card-primary">
        <div class="card-header">
            <h3>Create new Room</h3>
        </div>
        {{ include('room/_form.html.twig', {'button_label': null}) }}
    </div>
{% endblock %}
