{% extends 'base.html.twig' %}

{% block title %}Room {{ room.getId() }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Hotel {{ room.hotel }}: Room {{ room.getId() }}</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ room.name }}</td>
                </tr>
                <tr>
                    <th>Max Guests</th>
                    <td>{{ room.maxGuests }}</td>
                </tr>
                <tr>
                    <th>Floor</th>
                    <td>{{ room.floor }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ room.status.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex gap-1 justify-content-end">
            <a href="{{ path('app_room_index', {'hotel': room.hotel.getId()}) }}" class="btn btn-outline-secondary"><i
                        class="fa-solid fa-arrow-left"></i> back to list</a>

            <a href="{{ path('app_room_edit', {'id': room.id, 'hotel': room.hotel.getId()}) }}"
               class="btn btn-outline-primary"><i class="fas fa-pen-to-square"></i> edit</a>

            {{ include('room/_delete_modal.html.twig') }}
        </div>
    </div>
{% endblock %}
