{% extends 'base.html.twig' %}

{% block title %}Registry index{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Registry</h3>
    </div>
    <div class="card-body p-0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Room</th>
                <th>Guest</th>
                <th>Check In</th>
                <th>Check Out</th>
            </tr>
        </thead>
        <tbody>
        {% for registry in registries %}
            <tr>
                <td>{{ registry.id }}</td>
                <td>{{ registry.room }}</td>
                <td>{{ registry.guest }}</td>
                <td>{{ registry.checkIn ? registry.checkIn|date('Y-m-d') : '' }}</td>
                <td>{{ registry.checkOut ? registry.checkOut|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
