@import '~bootstrap/scss/bootstrap';

// import fontawesome css
@import "@fortawesome/fontawesome-free";

// Custom Validation Styles
label.error {
  color: red;
  font-size: 1rem;
  display: block;
  margin-top: 5px;
}

input.error {
  border: 1px dashed red;
  font-weight: 300;
  color: red;
}
