<div class="toast-container">
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    {% for message in app.flashes('notification') %}
        <div class="toast text-white bg-info" role="alert" aria-live="assertive" aria-atomic="true"
             data-bs-msg="true">
            <div class="toast-header">
                <i class="fa-solid fa-hotel"></i>
                <strong class="me-auto">Hotel Manager</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <label id="toast-body-l">{{ message }}</label>
            </div>
        </div>
    {% endfor %}
        <div id="liveToast" class="toast text-white bg-info" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="fa-solid fa-hotel"></i>
                <strong class="me-auto">Hotel Manager</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <label id="toast-body-l"></label>
            </div>
        </div>
    </div>
</div>